.navbar{
    border-radius: 0 0 15% 15%;
    border-bottom: 4px solid rgb(0, 0, 0);
}

.bg-dark { background-color: #ff1616de !important;}

#banner-principal{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.navbar-brand{
    font-family: 'Alfa Slab One', cursive;
}

.icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.icon:hover{
    box-shadow: lightblue 3px 3px;
}

.footer {
    height: 4.5rem;
    padding: 0 1rem;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer p {
    color: black;
}
.footer a {
    color: black;
}

