.navbar{
    border-radius: 0 0 15% 15%;
    border-bottom: 4px solid rgb(0, 0, 0);
}

.bg-dark { background-color: #ff1616de !important;}

#banner-principal{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 576px) {
    #banner-principal{
        height: 150px;
        width: 100%;
        object-fit: cover;
    }
}

.navbar-brand{
    font-family: 'Alfa Slab One', cursive;
}

.icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.icon:hover{
    box-shadow: lightblue 3px 3px;
}

@media (min-width: 768px){
    .contenido-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}

@media (min-width: 768px){
    .entrada-blog .imagen{
        flex-basis: 40%;
    
    }
    .entrada-blog .texto-entrada{
        flex-basis: calc(60% - 3rem)
    }
}

.texto-nosotros p {
    line-height: 2rem;
    text-align: justify;
}

.fw-300{
    font-weight: 300;
}
.centrar-texto{
    color: black;
    text-align: center;
}

.footer {
    height: 4.5rem;
    padding: 0 1rem;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer p {
    color: black;
}
.footer a {
    color: black;
}

